/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    width: 75%;
    margin: 0 auto;
}

.flex{
    display: flex;
}

header{
    width: 100%;
    height: 6rem;
    background-color: #ff6900;
    padding: 1.5rem;
    box-shadow: 2px 2px #a19c99;
    margin-bottom: 5rem;
    position: fixed;
    z-index: 1;
}

a{
    text-decoration: none;
    color: white;
}

li{
    display: inline-block;
    list-style-type: none;
    font-weight: bold;
    margin-right: 1rem;
}


nav.header{
    align-items: center;
    height: 3rem; 
}

nav.header ul{
    flex-basis: 25%;
    text-align: left;
    font-size: 1.5rem;
}

li{
    display: inline-block;
    list-style-type: none;
    /* font-size: 1.5rem; */
    font-weight: bold;
    margin-right: 1rem;
}

div.bool-logo{
    flex-basis: 50%;
    text-align: center;
}

div.bool-logo img{
    width: 12rem;
}

div.user-feed{
    flex-basis: 25%;
    text-align: right;
    font-size: 1.7rem;
    font-weight: bold;
    margin-right: 1rem;
    color: white;
}

section.products-row{
    margin-bottom: 4rem;
    padding-top: 11rem;
}

.product{
    display: inline-block;
    position: relative;
    width: 32%;
}

div.pd-image img{
    width: 37.5rem
} 


figcaption{
    font-size: 1.2rem;
}

span.sale{
    position: absolute;
    bottom: 15%;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    background-color: red;
    padding: .2rem .5rem;
}

span.eco{
    position: absolute;
    bottom: 15%;
    left: 10%;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    background-color: #008000;
    padding: .2rem .5rem;
}

.eco-all-left{
    position: absolute;
    bottom: 15%;
    left: 0;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    background-color: #008000;
    padding: .2rem .5rem;
}

span.favurite{
    position: absolute;
    top: 1%;
    right: 1%;
    font-size: 2.5rem;
    background-color: white;
    padding: 0.5rem 1.2rem;
}

span.prod-description{
    font-size: 1.7rem;
    font-weight: bolder;
    text-transform: uppercase;
    display: block;
}

span.price{
    font-size: 1.2rem;
    color: red;
    font-weight: bold;
}

span.old-price{
    font-size: 1.2rem;
    text-decoration: line-through;
}

footer{
    height: 8rem;
    background-color: #1a1a1a;
}

div.aside{
    flex-basis: 80%;
}

div.social{
    flex-basis: 20%;
}

div.aside h3{
    font-size: 2rem;
    color: white;
    margin: 1rem 0;
}

div.aside ul li{
    font-size: 1.2rem;
}

div.social h4{
    font-size: 1.5rem;
    color: white;
    margin: 1rem 0;
}

.fa-brands{
    color: #1a1a1a;
   background-color: #ffffff; 
   font-size: 1.5rem;
   margin-left: 0.5rem;
}